body {
	background-image: url('/img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000000;
	color: #CCCCCC;
}

#content {
	padding: 20px;
	margin-top: 60px;
	border-radius: 10px;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.7);
}

.home-active {
	color: #fff;
	background-color: #080808;
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

table td {
	/*color: black;*/
}