<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>宏工具-快速创建</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
</head>
<body>
<div class="container" id="container" flag="macroList">
    <script src="../js/header.js"></script>
    <div class="row" style="margin-top: 70px;" id="content">
        <div id="macrolist" class="col-sm-12 clearfix">
            <div class="form-group col-sm-12 clearfix">
                <label for="profession" class="col-xs-12 col-sm-12 col-md-12">选择宏所属职业、专精：</label>
                <select class="form-control" v-on:change="search" id="profession" name="profession_id" v-model="select_pid" style="margin-left: 10px;">
                    <option value="">
                        请选择
                    </option>
                    <option v-for="item in professions" v-bind:value="item.id">
                    {{item.name}}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-12 clearfix">
                <select class="form-control" id="macro_id" name="macro_id" v-on:change="changeMacro" style="margin-left: 10px;">
                    <option id="first_macro" value="">
                        空
                    </option>
                    <option v-for="macro in macros" v-bind:value="macro.id">
                    {{macro.title}}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-12">
                <table class="table table-striped col-sm-12">
                    <thead>
                    <tr>
                        <th class="col-sm-2 hidden-xs hidden-sm">作者</th>
                        <th class="col-sm-2 hidden-xs">标题</th>
                        <th class="col-sm-7">宏模板</th>
                        <th class="hidden-xs hidden-sm hidden-md">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-show="select_macro">
                        <td class="hidden-xs hidden-sm">{{select_macro.author}}</td>
                        <td class="hidden-xs">{{select_macro.title}}</td>
                        <td>
                            <p class="visible-xs">作者：{{select_macro.author}}</p>
                            <p class="visible-xs">标题：{{select_macro.title}}</p>
                            <textarea class="form-control" rows="13" id="macro_text">{{select_macro.macro}}</textarea><br>
                            <button class="btn btn-default visible-xs visible-sm" v-on:click="copyMacro">复制</button>
                        </td>
                        <td class="hidden-xs hidden-sm">
                            <button class="btn btn-default" v-on:click="copyMacro">复制</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<script src="../js/macroList.js"></script>
</body>
</html>