<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>宏工具-资料指南</title>
{{template "css"}}
	<style>
		.list-group li {
			background-color: #000000;
			background-color: rgba(0, 0, 0, 0.7);
		}
	</style>
</head>
<body>
<div class="container" id="container">
    {{template "header" .page}}
	<div class="row" id="content">
		<div class="col-md-12">
			<h3>qq交流群：923174332</h3>
			<h3>微信群：待续</h3>
		</div>
	</div>
    <div class="row">
		<h3>参考资料：</h3>
        <ul class="list-group">
            <a href="https://bbs.nga.cn/read.php?tid=1858624">
                <li class="list-group-item">[搬运]《考格威尔(Cogwheel's)宏命令完全指南》</li>
            </a>
            <a href="https://bbs.nga.cn/read.php?tid=1014862">
                <li class="list-group-item">TBC宏指南(Cogwheel's Complete Macro Guide)</li>
            </a>
            <a href="https://bbs.nga.cn/read.php?tid=2329476">
                <li class="list-group-item">[搬运]宏命令全表</li>
            </a>
            <a href="https://bbs.nga.cn/read.php?tid=1599813">
                <li class="list-group-item">[译制的剩菜] 北美官网推荐教程：《宏命令完全指南》</li>
            </a>
			<a href="https://wow.gamepedia.com/World_of_Warcraft_API#Location_Functions">
				<li class="list-group-item text-danger">World of Warcraft API（国外）</li>
			</a>
			<a href="https://wow.gamepedia.com/Macro_commands">
				<li class="list-group-item text-danger">Macro commands（国外）</li>
			</a>
		</ul>
    </div>

	<div class="row">
		<h3>楼主开发的PVP插件：</h3>
		<ul class="list-group">
			<a href="https://bbs.nga.cn/read.php?tid=15477121">
				<li class="list-group-item">PVPInfo -- 显示玩家PVP数据插件</li>
			</a>
		</ul>
	</div>
	<div class="row">
		<h3>后续计划：</h3>
		<ul class="list-group">
			<a href="https://wow.gamepedia.com/World_of_Warcraft_API#Location_Functions">
				<li class="list-group-item">整合World of Warcraft API(魔兽世>界API)，并加入网站，添加使用实例，方便玩家查看、开发自己的插件</li>
			</a>
			<a href="https://wow.gamepedia.com/Macro_commands">
				<li class="list-group-item">翻译Macro commands（宏命令），并>更新本网站宏数据</li>
			</a>
			<a href="">
				<li class="list-group-item">改版网站，加入插件模块开发，类似>宏制作工具，即使不懂插件开发的玩家，也能开发属于自己的魔兽世界插件！</li>
			</a>
		</ul>
	</div>
	<br>
	<br>
</div>
</body>
</html>